/* footer custom */
.footer_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-top: 20px;
}

.footer-style3-bottom {
    margin-top: 0;
}

.footer-style3-bottom p{
    font-size: 16px;
}

.footer_logo {
    width: 100px;
    height: 30px;
    left: unset;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 19;
    top: -16px;
    display: block;
    position: relative;
}

.cursor-pointer {
    cursor: pointer;
}
