.introduction {
    background-size: cover;
    background-repeat: no-repeat;
}

.introduction .title p{
    font-size: 2em;
}

.backdrop {
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.introduction .description p{
    font-size: 0.95em;
}

.introduction .description-link{
    border-radius: 1.3em;
}

.introduction .description-link a{
    color: white;
}
.introduction .description-link:hover a{
    color: black;
}