/*product-list*/
/*type*/
.product .type .icon {
    width: 30px;
    height: 30px;
}

.product .type .item:hover{
    border-bottom: #C0504E 2px solid;
    cursor: pointer;
}

.product .type .item:hover .icon{
    background-position-y: -30px;
}

.product .type .item:hover .name{
    color: #C0504E;
}

.product .type .item.active{
    border-bottom: #C0504E 2px solid;
}

.product .type .item.active .icon{
    background-position-y: -30px;
}

.product .type .item.active .name{
    color: #C0504E;
}

/*filter*/
.filter .search {
    border-radius: 20px;
    background-color: #C0504E;
    color: #ffffff;
}

.filter .icon {
    border-radius: 50%;
}

.filter .icon:hover {
    background-color: #C0504E;
    color: #ffffff;
}

/*list*/
.list .item .code {
    background-color: white;
    opacity: 0.6;
    bottom: 0;
}

@media (min-width: 768px){
    .list .item {
        height: 23vw;
    }
}

@media (max-width: 767px){
    .list .item {
        height: 45vw;
    }
}

@media (max-width: 576px){
    .list .item {
        height: 90vw;
    }
}

.list .item .description {
    opacity: 0.6;
    bottom: 0;
    display: none;
}

@media (min-width: 992px){
    .list .item:hover .description {
        opacity: 0.8;
        display: block;
    }
}
.list .item .description .title {
    color: #000000;
}

.list .item .description .content-des {
    font-weight: 700;
    text-align: right;
}

.list .item .description .description-link a{
    color: black;
}
.list .item .description .description-link:hover a{
    color: white;
    text-decoration: none;
}

/*detail*/
.detail .title-first {
    font-weight: 700;
    color: #C0504E;
    font-size: 40px;
    margin-bottom: 0;
}

.detail .title-second {
    font-size: 40px;
}

.detail .description-first {
    font-size: 1.2em;
    color: #999999;
    font-style: italic;
}

.detail .description-second {
    font-size: 1.2em;
    color: #C0504E;
    font-style: italic;
}

@keyframes fadeInDown {
    to {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    from {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 0.6;
        -webkit-transform: none;
        transform: none;
    }
}